ul#input-container {
}

ul#general-input{
    display: inline;
}

ul.input li {
    display: inline;
    list-style-type: none;
}

ul.input form {
    display: inline;
}

.left {
    float: left;
}

.right {
    float: right;
}

.top {
    vertical-align: top;
}

.imageContainer{
    padding: 5px;
}

#status{
    text-align: right;
}